@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
/* #dropdownItem {
    display: none;
} */

/* body {
  height: 500vh;
} */

.swiper-slide img {
  width: 100%;
  height: 100%;
}
